@model Mission06_LastName.Models.Movie

@{
    ViewData["Title"] = "Add a Movie";
}
<!--add a movie form-->
<h1>Add a Movie</h1>

<form method="post">
    <label for="Title">Title:</label>
    <input type="text" id="Title" name="Title" required><br>

    <label for="Category">Category:</label>
    <input type="text" id="Category" name="Category" required><br>

    <label for="Year">Year:</label>
    <input type="number" id="Year" name="Year" required><br>

    <label for="Director">Director:</label>
    <input type="text" id="Director" name="Director" required><br>

    <label for="Rating">Rating:</label>
    <select id="Rating" name="Rating">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select><br>

    <label>Edited:</label>
    <input type="radio" id="EditedYes" name="Edited" value="true"> Yes
    <input type="radio" id="EditedNo" name="Edited" value="false"> No <br>

    <label for="LentTo">Lent To:</label>
    <input type="text" id="LentTo" name="LentTo"><br>

    <label for="Notes">Notes (max 25 characters):</label>
    <input type="text" id="Notes" name="Notes" maxlength="25"><br>

    <button type="submit">Submit</button>
</form>
